{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for X</title>
    <link rel="stylesheet" href="{% static 'styles/sign-up/sign-up.css' %}">
    <link
      rel="shortcut icon"
      href="https://github.com/Danger-XD/X-TwitterClone/blob/main/images/icons8-twitterx-192.png?raw=true"
      type="image/x-icon"
    />
</head>
<body>
    <div class="container">
        <div class="box box-one">
            <i class="fab fa-twitter"><img src="{% static 'icons/x-icon/x-l.svg' %}"/></i>
        </div>
        <div class="box box-two">
            {% include 'components/sign-up/sign-up.html' %}
        </div>
        <p style="margin-top: -50px">Already have an account <a href="{% url 'accounts:LoginView' %}">Login</a></p>
    </div>
</body>
</html>