{% load static %}
<body style="margin: 0;background-color:black ;font-family: Roboto,serif;>


    <div class="grid">
        <div class="sidebar">
            <div class="sidebar-container">
                <div class="twitter-logo-container">
                    <div class="twitter-logo-container-2" id="home-icon-container">
                        <img class="twitter-logo" src="{% static 'icons/x-icon/64cebe1d31f50e161e4c825a_X-logo-transparent-white-twitter.png' %}" alt="X">
                    </div>
                      
                    
                </div>
                <a style="text-decoration: none; color: #ffffff" href="{% url 'tweets:Home' %}">
                <div class="home-container">
                    <div class="home-container-2" id="home-container-2">
                        <div class="home-icon-container">
                            <img class="home-icon" id="home-img" src="{% static 'twitter-icons/homepage.png' %}" alt="Home">
                        </div>
                        <div class="home-icon-container"><div class="home-text">Home</div>
                        </div>
                    </div>
                </div>
                </a>
                <div class="explore-container">
                    <div class="explore-container-2">
                        <div class="explore-icon-container">
                            <img class="explore-icon" src="{% static 'twitter-icons/search-icon.png' %}" alt="Explore">
                        </div>
                        <div class="explore-icon-container">
                            <div class="explore-text">
                                Explore
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="notification-container">
                    <div class="notification-container-2">
                        <div class="notification-icon-container">
                            <img class="notification-icon" src="{% static 'twitter-icons/notification-icon.png' %}" alt="notification">
                        </div>
                        <div class="notification-icon-container">
                            <div class="notification-text">
                                Notifications
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="message-container">
                    <div class="message-container-2">
                        <div class="message-icon-container">
                            <img class="message-icon" src="{% static 'twitter-icons/message-icon.png' %}" alt="message">
                        </div>
                        <div class="message-icon-container">
                            <div class="message-text">
                                Messages
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="bookmark-container">
                    <div class="bookmark-container-2">
                        <div class="bookmark-icon-container">
                            <img class="bookmark-icon" src="{% static 'twitter-icons/bookmark-icon.png' %}" alt="bookmark">
                        </div>
                        <div class="bookmark-icon-container">
                            <div class="bookmark-text">
                                Bookmarks
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="list-container">
                    <div class="list-container-2">
                        <div class="list-icon-container">
                            <img class="list-icon" src="{% static 'twitter-icons/lists-icon.png' %}" alt="list">
                        </div>
                        <div class="list-icon-container">
                            <div class="list-text">
                                Lists
                            </div>
                        </div>
                    </div>
                    
                </div>
                <a style="color: #ffffff; text-decoration: none" href="{% url 'accounts:ProfileView' active_user %}">
                <div class="profile-container">
                    <div class="profile-container-2" id="profile-container-2">
                        <div class="profile-icon-container">
                            <img class="profile-icon" id="profile-img" src="{% static 'twitter-icons/user-empty.png' %}" alt="profile">
                        </div>
                        <div class="profile-icon-container">
                            <div class="profile-text">
                                Profile
                            </div>
                        </div>
                    </div>
                
                </div>
                </a>                
                <div class="more-container">
                    <div class="more-container-2">
                        <div class="more-icon-container">
                            <img class="more-icon" src="{% static 'twitter-icons/more-icon.png' %}" alt="more">
                        </div>
                        <div class="more-icon-container">
                            <div class="more-text">
                                More
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

<script>
const profileContainer = document.getElementById('profile-container-2');
const profileImg = document.getElementById('profile-img');

const emptyProfileIconSrc = "{% static 'twitter-icons/user-empty.png' %}";
const filledProfileIconSrc = "{% static 'twitter-icons/user.png' %}";

{% if active_user.is_authenticated %}
const userUrlPath = "{% url 'accounts:ProfileView' active_user %}";
if (window.location.pathname === userUrlPath) {
    profileImg.src = filledProfileIconSrc;
} else {
    profileImg.src = emptyProfileIconSrc;
}


profileContainer.addEventListener('click', () => {
    window.location.href = userUrlPath;
});

const homeContainer = document.getElementById('home-container-2');
const homeImg = document.getElementById('home-img');

const emptyHomeIconSrc = "{% static 'twitter-icons/homepage.png' %}";
const filledHomeIconSrc = "{% static 'twitter-icons/homepage-filled.png' %}";

const homeUrlPath = "{% url 'tweets:Home' %}";
if (window.location.pathname === homeUrlPath) {
    homeImg.src = filledHomeIconSrc;
} else {
    homeImg.src = emptyHomeIconSrc;
}


homeContainer.addEventListener('click', () => {
    window.location.href = homeUrlPath;
});
{% endif %}



</script>
