{% extends 'base/base/base.html' %}
{% load static %}
{% load user_like_tag %}

{% block title %}
	Home / X
{% endblock %}

{% block content %}
    <body>
	<div id="home-container" class="home">
                <div class="home-title">
                    Home
                    <div class="top-tweet-container">
                        <img src="{% static 'twitter-icons/top-tweet_prev_ui.png' %}" class="top-tweet" alt="">
                    </div>
                </div>
                <div class="tweet-box">
                    <div class="text-boxx">
                        {% if request.user.avatar %}
                        	<img src="{{ request.user.avatar.url }}" class="my-profile" alt="avatar">
                        {% else %}
                            <img src="{% static 'icons/x-icon/default_profile_400x400.png' %}" class="my-profile" alt="avatar">
                        {% endif %}

                    </div>
                    <div class="text-boxx">
                        <form id="tweet-submit" method="post" action="{% url 'tweets:Home' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ tweet_form.tweet }}
                            <button style="border: none; cursor: pointer" class="tweet-button" type="submit">
                                Post
                            </button>
                            {{ media_form }}
                        </form>
                    </div>
                <div class="icons">
                    <div class="img-ic">
                        <label for="id_media-0-media">
                                <img class="media-icon" src="{% static 'twitter-icons/media-icon.png' %}" alt="">
                            </label>
                    </div>
                        <div>
                            <img class="gif-icon" src="{% static 'twitter-icons/gif-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="poll-icon" src="{% static 'twitter-icons/poll-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="emoji-icon" src="{% static 'twitter-icons/emoji-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="schedule-icon" src="{% static 'twitter-icons/schedule-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="location-icon" src="{% static 'twitter-icons/location-icon.png' %}" alt="">
                        </div>
                        </div>
                </div>
                
{% include 'base/tweets/tweets.html' %}
<script>
    
$(document).ready(function () {
    $('#tweet-submit').on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                var tweetBox = $('#home-container .tweet-box')[0];
                $(tweetBox).after(data['rendered_tweet']);
                var tweetInput = $('#id_tweet')[0];
                tweetInput.value = '';
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });
});

function LikeTweet(url) {
    $.post(url,
        $('#like-tweet').serialize(),
        function (data) {
            if (data['is_liked'] === true) {
                let Form = $(`form[action="${url}"]`)[0];
                let flexBox = $(Form).parents('.flexbox')[0];
                let likeIcon = $(flexBox).find('.like-icon .line-icons-icon')[0];
                let likeCount = $(flexBox).find('.count3')[0];
                $(likeIcon).attr('src', '{% static 'twitter-icons/fill-heart.png' %}');
                if (likeCount.innerText !== '') {
                    likeCount.innerText = parseInt(likeCount.innerText) + 1;
                    $(likeCount).css('color', 'rgb(235, 35, 128)');
                } else {
                    likeCount.innerText = 1;
                    $(likeCount).css('color', 'rgb(235, 35, 128)');

                }
            } else {
                $.post(url.replace('like', 'unlike'), $('#unlike-tweet').serialize(), function (data) {
                    let Form = $(`form[action="${url}"]`)[0];
                    let flexBox = $(Form).parents('.flexbox')[0];
                    let likeIcon = $(flexBox).find('.like-icon .line-icons-icon')[0];
                    let likeCount = $(flexBox).find('.count3')[0];
                    $(likeIcon).attr('src', '{% static 'twitter-icons/heart.png' %}');
                    if (likeCount.innerText !== '1') {
                        likeCount.innerText = parseInt(likeCount.innerText) - 1;
                        $(likeCount).css('color', 'rgb(113, 118, 123)');
                    } else {
                        likeCount.innerText = ''
                    }
                });

            }
        });
}

</script>
</div>
    </body>
{% endblock %}