{% extends 'base/base/base.html' %}
{% load static %}
{% load user_like_tag %}

{% block title %}
	Home / X
{% endblock %}

{% block content %}
	<div class="home">
                <div class="home-title">
                    Home
                    <div class="top-tweet-container">
                        <img src="{% static 'twitter-icons/top-tweet_prev_ui.png' %}" class="top-tweet" alt="">
                    </div>
                </div>
                <div class="tweet-box">
                    <div class="text-boxx">
                        {% if request.user.avatar %}
                        	<img src="{{ request.user.avatar.url }}" class="my-profile" alt="avatar">
                        {% else %}
                            <img src="{% static 'icons/x-icon/default_profile_400x400.png' %}" class="my-profile" alt="avatar">
                        {% endif %}

                    </div>
                    <div class="text-boxx">
                        <form method="post" action="{% url 'tweets:Home' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ tweet_form.tweet }}
                            <button style="border: none; cursor: pointer" class="tweet-button" type="submit">
                                Post
                            </button>
                            {{ media_form }}
                        </form>
                    </div>
                <div class="icons">
                    <div class="img-ic">
                        <label for="id_media-0-media">
                                <img class="media-icon" src="{% static 'twitter-icons/media-icon.png' %}" alt="">
                            </label>
                    </div>
                        <div>
                            <img class="gif-icon" src="{% static 'twitter-icons/gif-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="poll-icon" src="{% static 'twitter-icons/poll-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="emoji-icon" src="{% static 'twitter-icons/emoji-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="schedule-icon" src="{% static 'twitter-icons/schedule-icon.png' %}" alt="">
                        </div>
                        <div>
                            <img class="location-icon" src="{% static 'twitter-icons/location-icon.png' %}" alt="">
                        </div>
                        </div>
                </div>
                
{% include 'base/tweets/tweets.html' %}

{% endblock %}