{% load static %}
<div class="sidebar-2">
                <div class="sidebar2-container">
                    <div class="search-twitter">
                        <img src="{% static 'twitter-icons/search-icon.png' %}" class="search-icon">
                        <label>
                            <input type="text" placeholder="Search Twitter" class="search-box">
                        </label>
                    </div>
                    <div class="news-container">
                        <div class="news">
                            <div class="news-title">
                                What's happening
                            </div>
                            <div class="trending-1">
                                <div class="trending1-main-content">
                                    <div class="trending1-title-1">
                                        Business & finance
                                        <b>&middot;</b>
                                        Last night
                                    </div>
                                    <div class="trending1-content">
                                        The latest from the world of business
                                    </div>
                                    <div class="trending1-title-2">
                                        Trending with <span class="trending-tag1">#stockmarketcrash</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="trending1-profile" src="{% static 'icons/apple-icon/180927122050-apple-logo-gfx.jpg' %}" alt="">
                                </div>
                                
                            </div>
                            <div class="trending-2">
                                <div class="trending2-main-content">
                                    <div class="trending2-title1">
                                        #LatajiForever
                                    </div>
                                    <div class="trending2-content">
                                        Celebrate the legend Lata Mangeshkar with her timeless songs(1929 - ∞)
                                    </div>
                                    <div class="trending2-title2">
                                        Promoted by Spotify India
                                    </div>
    
                                </div>
                            </div>
                            <div class="trending-3">
                                <div class="trending3-main-content">
                                    <div class="trending3-title1">
                                        Entertainment <b>&middot;</b> Trending <span class="three-">...</span>
                                        
                                    </div>
                                    
                                    <div class="trending3-content">
                                        #Dhanush
                                    </div>
                                    <div class="trending3-title2">
                                        Trending with <span class="trending3-tag1">#NaaneVaruvean</span>, <span class="trending3-tag1">#Selvaraghavan</span>
                                    </div>
    
                                </div>
                            </div>
                            <div class="trending-4">
                                <div class="trending4-main-content">
                                    <div class="trending4-title1">
                                       Trending <span class="three-2">...</span>
                                        
                                    </div>
                                    
                                    <div class="trending4-content">
                                        #PonniyinSelvan1
                                    </div>
                                    <div class="trending4-title2">
                                        32.9K Tweets
                                    </div>
    
                                </div>
                            </div>
                            <div class="trending-5">
                                <div class="trending5-main-content">
                                    <div class="trending5-title1">
                                        War in Ukraine
                                        <B>&middot;</B>
                                        LIVE
                                        
                                    </div>
                                    
                                    <div class="trending5-content">
                                        Latest updates on the war in Ukraine
                                    </div>
                                </div>
                                <div>
                                    <img src="{% static 'icons/x-icon/trending-5-profile.jpg' %}" class="trending5-profile">
                                </div>
                            </div>
                            <div class="show-more-container">
                                <div class="show-more">
                                    Show more
                                </div>
                            </div>
                        </div>  
                        {% if users %}
                        <div class="who-to-follow">
                            <div class="follow-title">
                                Who to follow
                            </div>
                            {% for user in users %}
                                <div class="follow-list-container">  
                                    
                                    <div class="follow-1">
                                        <div class="follow-container-profile-container">
                                        {% if user.avatar %}
                                            <img src="{{ user.avatar.url }}" class="follow-profile-1" alt="user avatar">
                                        {% else %}
                                            <img src="/../static/icons/x-icon/default_profile_400x400.png" class="follow-profile-1" alt="user avatar">
                                        {% endif %}
                                            <div class="profile-container-tooltip">
                                                <div class="channel-tooltip">
                                                    {% if user.avatar %}
                                                    	<img class="follow-profile-tooltip" src="{{ user.avatar.url }}" alt="user avatar">
                                                    {% else %}
                                                        <img class="follow-profile-tooltip" src="/../static/icons/x-icon/default_profile_400x400.png" alt="user avatar">
                                                    {% endif %} 
                                                    <form action="{% url 'accounts:FollowView' user.username %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="follow-button-tooltip">Follow</button>
                                                    </form>
                                                </div>   
                                                
                                                <div>
                                                    <div>
                                                        <span class="follow-name-tooltip">{{ user.full_name }}</span>
                                                        {% if user.is_verified %}
                                                        	<img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon">
                                                        {% endif %} 
                                                        
                                                        <span class="follow-username-tooltip">@{{ user.username }}</span>
                                                    </div>
                                                    <div class="follow-tooltip-content">
                                                        {% if user.bio %}
                                                        	{{ user.bio }}
                                                        {% else %}
                                                            <br/>
                                                        {% endif %} 
                                                        
                                                    </div>
                                                    <div class="followers-following">
                                                        <b>{{ user.following_count }}</b> <span class="followers-count-tooltip">Following</span>
                                                        <b>{{ user.follower_count }}</b> <span class="followers-count-tooltip">Followers</span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                            {% if user.is_verified %}
                                                <img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon" alt="verified">
                                            {% endif %} 
                                            <span class="follow-name">{{ user.full_name }}</span>
                                            <span class="follow-username">@{{ user.username }}</span>
                                        </div>
                                        
                                        <div>
                                            <form action="{% url 'accounts:FollowView' user.username %}" method="post">
                                                {% csrf_token %}
                                                <input type="submit" class="follow-button" value="Follow">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                        
                            <div class="show-more-container">
                                <div class="show-more-2">
                                    Show more
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    
                </div>
                         
            </div>  
