{% load static %}
<div class="sidebar-2">
                <div class="sidebar2-container">
                    <div class="search-twitter">
                        <img src="{% static 'twitter-icons/search-icon.png' %}" class="search-icon">
                        <label>
                            <input type="text" placeholder="Search Twitter" class="search-box">
                        </label>
                    </div>
                    <div class="news-container">
                        <div class="news">
                            <div class="news-title">
                                What's happening
                            </div>
                            <div class="trending-1">
                                <div class="trending1-main-content">
                                    <div class="trending1-title-1">
                                        Business & finance
                                        <b>&middot;</b>
                                        Last night
                                    </div>
                                    <div class="trending1-content">
                                        The latest from the world of business
                                    </div>
                                    <div class="trending1-title-2">
                                        Trending with <span class="trending-tag1">#stockmarketcrash</span>
                                    </div>
                                </div>
                                <div>
                                    <img class="trending1-profile" src="{% static 'icons/apple-icon/180927122050-apple-logo-gfx.jpg' %}" alt="">
                                </div>
                                
                            </div>
                            <div class="trending-2">
                                <div class="trending2-main-content">
                                    <div class="trending2-title1">
                                        #LatajiForever
                                    </div>
                                    <div class="trending2-content">
                                        Celebrate the legend Lata Mangeshkar with her timeless songs(1929 - ∞)
                                    </div>
                                    <div class="trending2-title2">
                                        Promoted by Spotify India
                                    </div>
    
                                </div>
                            </div>
                            <div class="trending-3">
                                <div class="trending3-main-content">
                                    <div class="trending3-title1">
                                        Entertainment <b>&middot;</b> Trending <span class="three-">...</span>
                                        
                                    </div>
                                    
                                    <div class="trending3-content">
                                        #Dhanush
                                    </div>
                                    <div class="trending3-title2">
                                        Trending with <span class="trending3-tag1">#NaaneVaruvean</span>, <span class="trending3-tag1">#Selvaraghavan</span>
                                    </div>
    
                                </div>
                            </div>
                            <div class="trending-4">
                                <div class="trending4-main-content">
                                    <div class="trending4-title1">
                                       Trending <span class="three-2">...</span>
                                        
                                    </div>
                                    
                                    <div class="trending4-content">
                                        #PonniyinSelvan1
                                    </div>
                                    <div class="trending4-title2">
                                        32.9K Tweets
                                    </div>
    
                                </div>
                            </div>
                            <div class="trending-5">
                                <div class="trending5-main-content">
                                    <div class="trending5-title1">
                                        War in Ukraine
                                        <B>&middot;</B>
                                        LIVE
                                        
                                    </div>
                                    
                                    <div class="trending5-content">
                                        Latest updates on the war in Ukraine
                                    </div>
                                </div>
                                <div>
                                    <img src="{% static 'icons/x-icon/trending-5-profile.jpg' %}" class="trending5-profile">
                                </div>
                            </div>
                            <div class="show-more-container">
                                <div class="show-more">
                                    Show more
                                </div>
                            </div>
                        </div>  
                        <div class="who-to-follow">
                            <div class="follow-title">
                                Who to follow
                            </div>
                            <div class="follow-list-container">  
                                
                                <div class="follow-1">
                                    <div class="follow-container-profile-container">
                                        <img src="{% static 'icons/x-icon/billgates-profile.jpg' %}" class="follow-profile-1">
                                        <div class="profile-container-tooltip">
                                            <div class="channel-tooltip">
                                                <img class="follow-profile-tooltip" src="{% static 'icons/x-icon/billgates-profile.jpg' %}">
                                                <button class="follow-button-tooltip">Follow</button>
                                            </div>   
                                            
                                            <div>
                                                <div>
                                                    <span class="follow-name-tooltip">Bill Gates</span><img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon">
                                                    <span class="follow-username-tooltip">@BillGates</span>
                                                </div>
                                                <div class="follow-tooltip-content">
                                                    Sharing things I'm learning through my foundation work and other interests.
                                                </div>
                                                <div class="followers-following">
                                                    <b>476</b> <span class="followers-count-tooltip">Following</span>
                                                    <b>60.5M</b> <span class="followers-count-tooltip">Followers</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div>
                                        <span class="follow-name">Bill Gates</span><img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon">
                                        <span class="follow-username">@BillGates</span>
                                    </div>
                                    
                                    <div>
                                        <button class="follow-button">
                                            Follow
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-list-container-2">  
                                
                                <div class="follow-2">
                                    <div class="follow-container-profile-container">
                                        <img src="{% static 'icons/x-icon/katypery-profile.jpg' %}" class="follow-profile-1">
                                        <div class="profile-container-tooltip-2">
                                            <div class="channel-tooltip">
                                                <img class="follow-profile-tooltip" src="{% static 'icons/x-icon/katypery-profile.jpg' %}">
                                                <button class="follow-button-tooltip-2">Follow</button>
                                            </div>   
                                            
                                            <div>
                                                <div>
                                                    <span class="follow-name-tooltip">KATY PERRY</span><img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon">
                                                    <span class="follow-username-tooltip">@katyperry</span>
                                                </div>
                                                <div class="follow-tooltip-content">
                                                    <a class="katy-link">linktr.ee/katyperry</a>
                                                </div>
                                                <div class="followers-following">
                                                    <b>244</b> <span class="followers-count-tooltip">Following</span>
                                                    <b>108.9M</b> <span class="followers-count-tooltip">Followers</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="follow-name">KATY PERRY</span><img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon">
                                        <span class="follow-username">@katyperry</span>
                                    </div>
                                    
                                    <div>
                                        <button class="follow-button-2">
                                            Follow
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="follow-list-container-3">  
                                
                                <div class="follow-2">
                                    <div class="follow-container-profile-container">
                                        <img src="{% static 'icons/x-icon/twitter-profile.jpg' %}" class="follow-profile-1">
                                        <div class="profile-container-tooltip-3">
                                            <div class="channel-tooltip">
                                                <img class="follow-profile-tooltip" src="{% static 'icons/x-icon/twitter-profile.jpg' %}">
                                                <button class="follow-button-tooltip-3">Follow</button>
                                            </div>   
                                            
                                            <div>
                                                <div>
                                                    <span class="follow-name-tooltip">Twitter</span><img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon">
                                                    <span class="follow-username-tooltip">@Twitter</span>
                                                </div>
                                                <div class="follow-tooltip-content">
                                                    What's happening?!
                                                </div>
                                                <div class="followers-following">
                                                    <b>6</b> <span class="followers-count-tooltip">Following</span>
                                                    <b>63.6M</b> <span class="followers-count-tooltip">Followers</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="follow-name">Twitter</span><img src="{% static 'twitter-icons/verified.png' %}" class="verified-icon">
                                        <span class="follow-username">@Twitter</span>
                                    </div>
                                    
                                    <div>
                                        <button class="follow-button-3">
                                            Follow
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="show-more-container">
                                <div class="show-more-2">
                                    Show more
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                         
            </div>  
